<div class="container-md">
  <div class="card m-5">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center py-3">
      <b>View Employee</b>
      <a href="#" routerLink="/" class="btn btn-success back"><i class='fas fa-arrow-circle-left'></i>
        Back</a>
    </div>
    <div class="card-body p-5">
      <table class="table table-striped table-hover table-bordered table-conten">
        <tbody>
          <tr>
            <td><label><b>ID</b></label></td>
            <td><span>{{ id }}</span></td>
          </tr>
          <tr>
            <td><label><b>Name</b></label> </td>
            <td><span>{{ employee.employee_name }}</span></td>
          </tr>
          <tr>
            <td> <label><b>Age</b></label></td>
            <td> <span>{{ employee.employee_age }}</span></td>
          </tr>
          <tr>
            <td> <label><b>Salary</b></label></td>
            <td><span>{{ employee.employee_salary }}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>