<div class="container">
    <h1>View Employee</h1>
  
    <a href="#" routerLink="/employee/index" class="btn btn-primary">Back</a>
   
    <div>
        <strong>ID:</strong>
        <p>{{ id }}</p>
    </div>
   
    <div>
        <strong>Employee Name:</strong>
        <p>{{ employee.employee_name }}</p>
    </div>
   
    <div>
        <strong>Employee Age:</strong>
        <p>{{ employee.employee_age }}</p>
    </div>

    <div>
        <strong>Employee Salary:</strong>
        <p>{{ employee.employee_salary }}</p>
    </div>
   
</div>