<div class="container-md">
  <div class="card m-5">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center py-3">
      <b>Create New Employee</b>
      <a href="#" routerLink="/" class="btn btn-success back"><i class='fas fa-arrow-circle-left'></i>
        Back</a>
    </div>
    <div class="card-body p-5">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="table-content">
          <div class="form-group p-10 row my-2">
            <div class="col-sm-3">
              <label for="FirstName" class="p-t-b-10">Employee Name<span class="requiredStar text-danger">*</span></label>
            </div>
            <div class="col-sm-9">
              <input formControlName="employee_name" id="employee_name" type="text" class="form-control">
              <div *ngIf="f['employee_name'].touched && f['employee_name'].invalid" class="alert alert-danger">
                <div *ngIf="f['employee_name'].errors && f['employee_name'].errors['required']">Employee name is
                  required.</div>
              </div>
            </div>
          </div>
          <div class="form-group p-10 row my-2">
            <div class="col-sm-3">
              <label for="LastName" class="p-t-b-10">Employee Age<span class="requiredStar text-danger">*</span></label>
            </div>
            <div class="col-sm-9">
              <input formControlName="employee_age" id="employee_age" type="number" class="form-control">
              <div *ngIf="f['employee_age'].touched && f['employee_age'].invalid" class="alert alert-danger">
                <div *ngIf="f['employee_age'].errors && f['employee_age'].errors['required']">Employee age is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group p-10 row my-2">
            <div class="col-sm-3">
              <label class="p-t-b-10">Employee Salary<span class="requiredStar text-danger">*</span></label>
            </div>
            <div class="col-sm-9">
              <input formControlName="employee_salary" id="employee_salary" type="number" class="form-control">
              <div *ngIf="f['employee_salary'].touched && f['employee_salary'].invalid" class="alert alert-danger">
                <div *ngIf="f['employee_salary'].errors && f['employee_salary'].errors['required']">Employee salary is
                  required.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-footer text-center mt-4">
          <button class="btn btn-success" type="submit" [disabled]="!form.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>