<div class="container">
    <h1>Update Employee</h1>
   
    <a href="#" routerLink="/employee/index" class="btn btn-primary">Back</a>
          
    <form [formGroup]="form" (ngSubmit)="submit()">
    
        <div class="form-group">
            <label for="employee_name">Employee Name:</label>
            <input 
                formControlName="employee_name"
                id="employee_name" 
                type="text" 
                [(ngModel)]="employee.employee_name"
                class="form-control">
            <div *ngIf="f['employee_name'].touched && f['employee_name'].invalid" class="alert alert-danger">
                <div *ngIf="f['employee_name'].errors && f['employee_name'].errors['required']">Employee name is required.</div>
            </div>
        </div>
           
        <div class="form-group">
            <label for="employee_age">Employee Age:</label>
            <input 
                formControlName="employee_age"
                id="employee_age" 
                type="text" 
                [(ngModel)]="employee.employee_age"
                class="form-control">
            <div *ngIf="f['employee_age'].touched && f['employee_age'].invalid" class="alert alert-danger">
                <div *ngIf="f['employee_age'].errors && f['employee_age'].errors['required']">Employee age is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="employee_salary">Employee Salary:</label>
            <input 
                formControlName="employee_salary"
                id="employee_salary" 
                type="text" 
                [(ngModel)]="employee.employee_salary"
                class="form-control">
            <div *ngIf="f['employee_salary'].touched && f['employee_salary'].invalid" class="alert alert-danger">
                <div *ngIf="f['employee_salary'].errors && f['employee_salary'].errors['required']">Employee salary is required.</div>
            </div>
        </div>
         
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Update</button>
    </form>
</div>